<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
      <h1><%= listtitle %></h1>
  </div>

<div class="box">
  <div class="item">
       <input type="checkbox">
      <p>Study operating system</p>
  </div>

   <div class="item">
     <input type="checkbox">
     <p>Codeforces contest</p>
   </div>
     <% for(var i=0;i<newitems.length;i++) { %>

       <div class="item">
            <input type="checkbox">
          <p><%=newitems[i]%></p>
       </div>
     <% } %>

     <form class="item" action="/" method="post">
         <input type="text" name="newitem" placeholder="New item" autocomplete="off">
         <button type="submit" name="list" value=<%=listtitle%>>+</button>
     </form>
</div>


</body>

</html>
